/* style.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    
}
.header {
    color: white;
    border: 5px solid green;
    border-radius: 25px;

    background-color:rgb(228, 237, 201);
    font-size: xx-large;
    font-style: italic;  
    margin: 20px;
    padding: 8px;
    text-align: center;
  }
  
  .ul {
    list-style-type: square;
    color: brown;
    font-size: larger;
}

.list {
    font-size: larger;
    font-family: "Brush Script MT", 'Lucida Sans',sans-serif;
    margin-left: 100px;
    margin-bottom: 15px;
    border-color: blue;
    border-width: 5px;
    /*color:aqua;*/
}
    
.href {
    color: aqua;
   
    
}